YSIM_INFRA_PROJECT=ysim-local-foundation

YSIM_POSTGRES_IMAGE=postgres:16.4-alpine
YSIM_POSTGRES_HOST_PORT=5432
YSIM_POSTGRES_DB=ysim
YSIM_POSTGRES_USER=ysim
YSIM_POSTGRES_PASSWORD=ysim_local_password

YSIM_REDIS_IMAGE=redis:7.4-alpine
YSIM_REDIS_HOST_PORT=6379

YSIM_MINIO_IMAGE=minio/minio:RELEASE.2024-07-16T23-46-41Z
YSIM_MINIO_API_HOST_PORT=9000
YSIM_MINIO_CONSOLE_HOST_PORT=9001
YSIM_MINIO_ROOT_USER=ysim_minio
YSIM_MINIO_ROOT_PASSWORD=ysim_minio_password
YSIM_MINIO_BUCKET=ysim-local

YSIM_MAILPIT_IMAGE=axllent/mailpit:v1.20.5
YSIM_MAILPIT_SMTP_HOST_PORT=1025
YSIM_MAILPIT_HTTP_HOST_PORT=8025
